header
h1(class="text-3xl text-center text-white font-bold m-[50px]") The Post Society
h2(class="text-2xl text-center text-white font-bold m-[50px]") The best place to share your thoughts and ideas
 
nav
ul(class="flex justify-center items-center gap-[10px] m-[50px]")
  li
    a(href="/") Home
  li
    a(href="/post") Post
  li
    a(href='/profile') Profile
  li
    a(href="/login") Login
  li
    a(href="/register") Register
  li
    a(href="/logout") Logout 
