doctype html
html
  include components/head.pug
  body(class="bg-dark font-global")
    header
      include components/header.pug
    main
      block content 
    footer 
      include components/footer.pug
    

