@import "tailwindcss";
@import url("https://fonts.googleapis.com/css2?family=Turret+Road:wght@200;300;400;500;700;800&display=swap");

@theme {
  --font-global: "Turret Road", sans-serif;
  --font-size: 16px;
  --color-primary: #fab500;
  --color-secondary: #0b0b0b;
  --color-accent: #250049;
  --color-dark: #180037;
  --color-deep-dark: #040015;
}
